/*Mobile Variables*/
/*Tablet Variables*/
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .carousel-cell img {
    height: 400px; } }
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .carousel-cell img {
    height: 450px; } }
@media only screen and (min-width: 701px) {
  .parallax {
    min-height: 650px; } }
/*Tablet View*/
@media only screen and (min-width: 768px) {
  .intro, .dishes, .catering, .about {
    margin-bottom: 10%; }

  header h1 {
    font-size: 50px;
    padding-right: 5%;
    margin-left: 0;
    width: 100%; }
  header img {
    margin-left: 15%; }

  h2 {
    font-size: 35px;
    padding-top: 2%;
    padding-bottom: 1%; }

  li a {
    font-size: 20px; }

  p {
    font-size: 18px; }

  .specials h3 {
    font-size: 27px; }

  .dishes {
    padding-left: 5%; }
    .dishes h3 {
      padding-top: 2%;
      padding-bottom: 5%;
      font-size: 20px;
      width: 200px; }
    .dishes h2 {
      font-size: 35px;
      padding-bottom: 0; }

  .intro {
    margin-bottom: 10%; }
    .intro h2 {
      font-size: 30px; }

  .specials {
    margin-bottom: 10%; }

  .carousel-cell {
    -webkit-flex-direction: row; }
    .carousel-cell img {
      max-width: 50%;
      height: 100%; }
    .carousel-cell .carousel-text {
      margin-right: 10%; }

  .catering h2, .about h2 {
    font-size: 30px; }
  .catering img, .about img {
    width: 100%;
    height: 500px; }
  .catering p, .about p {
    padding-top: 0; }

  h5 {
    width: 100%;
    padding-top: 1%; }

  .google-maps {
    position: relative;
    padding-bottom: 55%;
    overflow: hidden; }

  #main-column-1, #main-column-2, #dessert-column, #drinks-column {
    padding-right: 5%; } }
@media only screen and (max-width: 800px) {
  input {
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 110px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }

  .hamburger span {
    display: block;
    width: 33px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 25px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

  .hamburger span:first-child {
    transform-origin: 0% 0%; }

  .hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%; }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  .hamburger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -19px); }

  /*
   * But let's hide the middle one.
   */
  .hamburger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }

  /*
   * Ohyeah and the last one should go the other direction
   */
  .hamburger input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px); }

  .hamburger {
    cursor: pointer;
    padding: 15px;
    display: block;
    background-color: black; }

  .line {
    border-bottom: 2px solid #bbb;
    width: 35px;
    margin-bottom: 6px; }

  /* Our styles here */
  nav li {
    width: 100%; }

  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s; }

  .open {
    height: 330px; } }
@media only screen and (min-width: 801px) {
  .menu {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px; }

  .hamburger {
    display: none; } }
/*===================================================================*/

/*# sourceMappingURL=media_queries_tablet.css.map */
